<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsptl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:permission="android.permission.WRITE_EXTERNAL_STORAGE"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hsptl.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hsptl.NewUserActivity"
            android:label="@string/title_activity_new_user" >
        </activity>
        <activity
            android:name="com.hsptl.ConsultFormActivity"
            android:label="@string/title_activity_consult" >
        </activity>
        <activity
            android:name="com.hsptl.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.hsptl.BETAPatientsActivity"
            android:label="@string/title_activity_patients" >
        </activity>
        <activity
            android:name="com.hsptl.PatientsActivity"
            android:label="@string/title_activity_people" >
        </activity>
        <activity
            android:name="com.hsptl.DoctorsActivity"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name="com.hsptl.PatientFormActivity"
            android:label="@string/title_activity_person_form" >
        </activity>
        <activity
            android:name="com.hsptl.DoctorFormActivity"
            android:label="@string/title_activity_personal_form" >
        </activity>
        <activity
            android:name="com.hsptl.ConsultsActivity"
            android:label="@string/title_activity_consult" >
        </activity>
        <activity
            android:name="com.hsptl.HospitalizeActivity"
            android:label="@string/title_activity_hospitalize" >
        </activity>
        <activity
            android:name="com.hsptl.HospitalizeFormActivity"
            android:label="@string/title_activity_hospitalize_form" >
        </activity>
    </application>

</manifest>
